<div class="sr-only">BEAT THE STIGMA</div>
<img id="pic1" class="full-size" src="pic1_2x.jpg" alt="Game-show contestants"/>
{{#each frames }}
<img id="pic{{frameCount @index}}" class="full-size" src="pic{{frameCount @index}}_2x.jpg" alt="{{!getGroupAltTxt .. @index}}"/>
{{/each}}
{{#if (showFpo)}}<img src="../../fpo/{{name}}/{{getFpoName}}" class="full-size" width="{{width}}" />{{/if}}

<div id="game-wrapper" class="game-txt game-wrapper abs">
	{{> (getHeaderSvg)}}
	<div id="txt-wrapper">
		{{#each frames}}
		<span class="sr-only">{{getGroupAltTxt .. @index}}</span>
		<p id="txt{{frameCount @index}}" class="abs">{{{txt}}}</p>
		{{/each}}
	</div>
</div>

<div id="end-container" class="full-size">
	{{#unless (showFpo)}}<img id="pic5" src="pic5_2x.jpg" alt="Game-show host and contestants end the game" class="full-size"/>{{/unless}}
	<div id="end-wrapper" class="full-size">
		<p id="end-txt">
			{{{end.txt}}}
		</p>
		<button id="cta" tabindex="0" aria-label="{{global.cta.txt}}">
			<span id="cta-txt">{{global.cta.txt}}</span>
		</button>
		{{> ohio_logo.svg}}
	</div>
</div>

<img id="bts-logo" src="logo_2x.png" alt="BEAT THE STIGMA" aria-hidden="true"/>
