
{{> outline_M1_300x250.svg}}
<span class="sr-only">{{group.frame2.txt}}</span>
<div id="f2-container" class="full-size" aria-hidden="true">
	<div id="f2-letter-line1" class="letter-line-container">
		
		{{#each group.frame2.line1}}
		<div class="letter-box"><span {{#isHiddenLetter .. 'line1' @index}}class="hide-letter" {{/isHiddenLetter}}id="letter{{int @index}}">{{{.}}}</span></div>
		{{!-- <div class="letter-box"><span id="letter{{int @index}}">{{{.}}}</span></div> --}}
		{{/each}}
	</div>
	<div id="f2-letter-line2" class="letter-line-container">
		{{#each group.frame2.line2 num=(letterCount @index)}}
		<div class="letter-box"><span {{#isHiddenLetter .. 'line2' @index}}class="hide-letter" {{/isHiddenLetter}}id="letter{{letterCount @index}}">{{{.}}}</span></div>
		{{/each}}
	</div>
	<p class="f2-txt">
		{{#each frame2.p}}
		{{{.}}}
		{{~#unless @last}}<br/>{{/unless}}
		{{~/each}}
	</h1>
</div>

<div id="end-container" class="full-size">
	<p id="end-txt">{{#each end.txt}}
		{{{.}}}{{#unless @last}}<br/>{{/unless}}{{/each}}
	</p>
	<button id="cta" tabindex="0" aria-label="{{global.cta.txt}}">
		<span id="cta-txt">{{global.cta.txt}}</span>
	</button>
	{{> ohio_logo.svg}}
</div>
