<h1>{{#each frame2.h1}}
	{{{.}}}{{#unless @last}}<br/>{{/unless}}{{/each}}
</h1>

<ol id="f2-t1" class="f2-txt" type="A">{{#each frame2.list}}
	{{#unless @last}}<li class="wrong-answer">{{{.}}}</li>{{else}}<li id="answer" class="highlight-txt">{{{.}}}</li>{{/unless}}{{/each}}
</ol>
<!-- Duplicate list of strike throughs -->
<ol id="f2-strike" class="f2-txt" type="A" aria-hidden="true">{{#each frame2.list}}
	{{#unless @last}}<li><span class="strikethrough">{{{.}}}</span></li>{{else}}<li class="hide">{{{.}}}</li>{{/unless}}{{/each}}
</ol>
<span class="sr-only">The answer is D. {{frame2.list.[3]}}</span>
