<div class="sr-only">BEAT THE STIGMA</div>
<div id="f1-container" class="full-size">
	{{~#unless (showFpo)}}<img id="bg1" class="full-size" src="images/bg1_2x.jpg" alt=""/>{{/unless}}
	{{#if (showFpo)}}<img src="../../fpo/{{name}}/{{getFpoName}}" class="full-size" width="{{width}}" />{{/if}}
</div>

<div id="f2-container" class="full-size">
	<img id="bg2" class="full-size" src="images/bg2_2x.jpg" alt=""/>
	<div id="red-overlay" class="bg-blend full-size"></div>
		{{#if (showFpo)}}<img src="../../fpo/{{name}}/{{getFpoName}}" class="full-size" width="{{width}}" />{{/if}}
		{{> (getHeaderSvg)}}
	<div id="game1-wrapper" class="abs game-txt game-wrapper">
		<p id="question1" class="header-txt">
			{{{frame2.headerTxt}}}
		</p>
		<ol id="g1-answers" class="game-txt" type="A">
			{{#each frame2.txt}}
			<li>{{{.}}}</li>
			{{/each}}
		</ol>
			<!-- Duplicate list of strike throughs -->
		<ol id="g1-wrong-answers" class="game-txt" type="A" aria-hidden="true">
			{{#if frame2.strikeList}}
			{{#each frame2.strikeList}}
			<li><span class="strike-wrapper">
				<span class="strikethrough">{{{.}}}</span>
			</span></li>
			{{/each}}
			{{else}}
			{{#each frame2.txt}}
			<li><span class="strikethrough">{{{.}}}</span></li>
			{{/each}}
			{{/if}}
		</ol>
	</div>
	
	<div id="game2-wrapper" class="abs game-txt game-wrapper">
		<p id="question2" class="header-txt">
			{{{frame3.headerTxt}}}
		</p>
		<ol id="g2-answers" class="game-txt" type="A">
			{{#each frame3.txt}}
			<li>{{{.}}}</li>
			{{/each}}
		</ol>
	</div>
</div>

{{#unless (isBox)}}
{{#unless (showFpo)}}
<img id="end-bg" class="full-size" src="images/bg3_2x.jpg" alt=""/>
{{/unless}}
{{/unless}}
<div id="end-container" class="full-size">
	<p id="end-txt">
		{{#each end.txt}}
		{{{.}}}
		{{~#unless @last~}}<br/>
		{{/unless}}
		{{/each}}
	</p>
	<button id="cta" tabindex="0" aria-label="{{global.cta.txt}}">
		<span id="cta-txt">{{{global.cta.txt}}}</span>
	</button>
	{{> ohio_logo.svg}}
</div>

<div id="logo-container" class="full-size">
	<img id="bts-logo" src="images/logo_2x.png" alt="BEAT THE STIGMA"/>
</div>
